.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #c9c9c9;
  color: rgb(37, 37, 37);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.3;
}
#palette {
  z-index: 1000;
}
#myBtn:hover {
  /* background-color: #0000ff; */
  opacity: 0.6;
}
/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
  width: 100%;
}
.nav-item {
  width: 100%;
}
.navbar a {
  color: #c9c9c9;
  /* padding: 0rem !important; */
}
.navbar-dark, .bg-dark {
  background-color: black !important;
  color: #c9c9c9 !important;
}
.navbar a:hover {
  color: #d4002b !important;
}
.navbar-brand {
  font-size: 2rem;
}
.navbar-dark .navbar-toggler {
  color: #c9c9c9;
  background-color: black;
}
p {
  color: #c9c9c9;
  margin-right: 5%;
  text-indent: 10%;
  line-height: 2rem;
}
.card {
  margin-right: 5%;

}
#sizeRelations {
  /* height: 10%;
  background-color: black; */
  margin-top: 5%;
}
body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: rgb(37, 37, 37);
overflow-x: hidden;
}
.leaflet-control-layers-toggle {
  background-image: url(Icon.jpg);
  background-size: 100%;
  background-color: rgb(65, 64, 64);
}
.leaflet-bar a {
  background-color: rgb(65, 64, 64);
  color: #c9c9c9;
}
.leaflet-control-layers-expanded {
  background: #5e5d5d;
}
/* #gauge {
  background-color: rgb(37, 37, 37);
} */


.heading {
  /* margin-left: 5%; */
  background-color: black;
  text-indent: 5%;
  width: 115%;
  /* overflow-x: hidden; */
  /* margin-right: 5%; */
}
#bubbles { 
  height: 550px;
  /* left: -5%; */
}
#map {
  background-color: rgb(37, 37, 37);
}
.table.definitions, .td.table.definitions {
  color: #c9c9c9 !important;
  margin-left: 2%;
  font-size: 14px;
}
.leaflet-popup-content h3 {
  color: #d4002b;
}
.mapText {
  margin-bottom: 2%;
}
#st {
  top: 5%;
  display: block;
  margin-top: 5%;
  height: 500px;
  width: 100%;
  margin-left: 8%;
}
/* #def {
  background-color: rgb(64, 63, 63);
} */
#stateScroll {
  height: 500px;
  overflow-y: auto;
  /* position: relative; */
  width: 310px;
}
li {
  color: #c9c9c9;
  width: 90%;
}
#comparison {
  width: 100%;
  display: block;
  margin-left: 5%;
  /* margin-right: 5%; */
  margin-top: 10%;
}
#pop_slider {
  margin-top: -5%;
}
#popden_slider {
  margin-top: -10%;
}
#pcincome_slider {
  margin-top: -10%;
}
#hhincome_slider {
  margin-top: -10%;
}
#medage_slider {
  margin-top: -10%;
}
#gini_slider {
  margin-top: -10%;
}
#pov_slider {
  margin-top: -10%;
}
#snap_slider {
  margin-top: -10%;
}
#home_slider {
  margin-top: -10%;
}
#locator {
  /* width: 800px; */
  height: 500px;
  overflow: hidden;
}
/* noUi-origin noUi-connect noUi-stacking */
.noUi-origin .noUi-connect .reset {
  left: 100%;
}
.activeInput {
  /* pointer-events: all; */
  visibility: visible;
}
.inactiveInput {
  /* pointer-events: none; */
  visibility: hidden;
}
.dropdown-item.activeDropDown  {
  color: rgb(141, 141, 141) !important;
}
.dropdown-item.inactiveDropDown  {
  color: #3f3f3f !important;
}
.dropdown-item.inactiveDropDown:hover {
  color: #3f3f3f !important;
}
.results {
  color: #c9c9c9;
}
.table-dark {
  color: #c9c9c9;
  background-color: rgb(37, 37, 37);
}
.filterTable table {
  color: #c9c9c9;
  font-size: 14px;
}
.mapcard .header,.mapcard  {
  border: none;
}
/* .filterTable tr  */
#filters .card {
  border: none;
  margin-top: 15%;
}
#locator .card {
  border: none;
}
.filterResultTotal {
  color: #c9c9c9;
  text-align: left;
  margin-top: 2%;
  margin-left: 5%;
}
/* input {
  pointer-events: all;
} */
#sliders.card-header {
  margin-right: -5.5%;
  padding: 0;
}
#one, #two, #three, #four {
  height: 550px;
  /* margin-right: 5%; */
  /* width: 90%; */
}

.row {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
}

h1 {
  /* font-family: 'Vollkorn', serif; */
  color:#c9c9c9;
}

.infoTable {
  margin-top: 5%;
}

.card, .card-body{
  background-color: rgb(37, 37, 37);
}

tbody {
  background-color: rgb(37, 37, 37);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 102%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}
#one{
  margin-top: 5%;
}
#footer p {
  margin: 0;
  font-size: 16px;
}
.dropdown .show {
  z-index: 1000;
}
.loader {
  border: 8px solid #474747; /* Light grey */
  border-top: 8px solid #d4002b; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spinner-grow {
  transform: translate(500px, 200px);
  z-index: 1000;
}
.btn {
  /* -ms-transform: rotate(270deg); /* IE 9 */
  /* -webkit-transform: rotate(270deg);
  transform: rotate(270deg); */
  color: #c9c9c9 !important;
  font-weight: bold;
  position: static;
  float: right;
  z-index: 1000;
}
.dropdown-menu.show .bubblebtngr, .dropdown-menu .bubblebtngr {
  text-align: end;
  transform: translate(-40px, 0px);
}
.dropdown {
  /* transform: translate(-40px, 320px); */
  float: right;
  min-width: 200px !important;
}
.dropdown-item {
  /* -ms-transform: translate(-50px, 60px) rotate(270deg); /* IE 9 */
  /* -webkit-transform: translate(-50px, 60px) rotate(270deg); 
  transform: translate(-50px, 60px) rotate(270deg); */
  color: gray;
  background-color: rgb(37, 37, 37);
  opacity: 0.8;
  text-align: end;
}
.dropdown-item:hover{color: #c9c9c9 !important;}
.dropdown-item:hover, .dropdown-item::after, .dropdown:focus {
  background-color: rgb(37, 37, 37);
  opacity: 1
}

.dropdown-menu .show, .dropdown-menu{
  height: 190px;
  background-color: transparent;
  /* transform: translate3d(64px, -66px, 0px); */
  border: 0;
}
/* .inactivebtn {
  color: gray;
}
.activebtn {
  color: #c9c9c9;
} */
.btn, .btn-secondary:hover, 
.show>.btn-secondary.dropdown-toggle, 
.show>.btn-secondary.dropdown-toggle:active, 
.show>.btn-secondary.dropdown-toggle:focus, 
.btn-secondary:focus,.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-secondary.dropdown-toggle:focus
{
  background-color: rgb(37, 37, 37);
  border-color: rgb(37, 37, 37);
  box-shadow: 0 0 0 0 rgb(37, 37, 37);
}
@media (max-width: 992px) {
  .navbar {
    width: 115%;
  }
  .navbar-dark .navbar-nav .nav-link {
    float: right;
    font-size: 30px;
  }
}
@media (min-width: 600px) {
  .article {
    font-size: 16 px !important;
  }
}
@media (max-width: 600px) {
  .article {
    font-size: 20 px !important;
  }
}
